{% extends "base.html" %}

{% block title %} Edit Post {% endblock %}

{% block content %}

<h1>Edit Post</h1>
<form>
    <div>
        <label for="title">Title</label>
        <input type="text" name="title" value="{{ post.title }}" required id="test">
    </div>
    <div>
        <label for="content">Post Content</label>
        <input type="text" name="content" value="{{ post.content }}" id="content" required>
    </div>
    <div>
        <button class="cancel" formaction="/posts/{{ post.id }}" formmethod="get">Cancel</button>
        <button class="edit" formaction="/posts/{{ post.id }}/edit" formmethod="post">Edit</button>
    </div>
</form>

{% endblock %}