{% extends "base.html" %}

{% block title %} User details {% endblock %}

{% block content %}

<h1>{{ user.first_name }} {{ user.last_name }}</h1>
<img src="{{ user.image_url }}" alt="Profile picture">
<form class="edit-and-save">
    <button class="user-edit" formaction="/users/{{ user.id }}/edit">Edit</button>
    <button name="user-delete" class="user-delete"  formmethod="post" formaction="/users/{{ user.id }}/delete">Delete</button>
</form>

<h1>Posts</h1>
<ul>
    {% for post in posts %}
    <li>
        <a href="">{{ post.title }}</a>
    </li>
    {% endfor %}
</ul>
    <form>
        <button formaction="/users/{{ user.id }}/posts/new" formmethod="GET">Add Post</button>
    </form>

{% endblock %}

